<!DOCTYPE html>
{% load static %}
<html>
<head>
<meta charset="UTF-8" >
<link rel="stylesheet" href="{% static "css/styles.css" %}" />
<title>Контакты</title>
</head>
<body>

<header>
<h1>Контакты клиники женской консультации</h1>
<p><a href="tel:+71234567890"> <strong> Наш телефон: </strong> +7-123-456-78-90 </a><p/>
<a href="mailto:info@womensclinic.com"> <strong> Адрес нашей электронной почты: </strong> info@womensclinic.com </a>
<p><strong> Часы работы : </strong> 8:00 - 21:00 </p>
</header>

<nav>
<ul>
<li><a href="index.html" target="_self"> Главная </a></li> |
<li><a href="services.html" target="_self"> Услуги </a></li>|
<li><a href="specialists.html" target="_self"> Специалисты </a></li> |
<li><a href="contacts.html" target="_self"> Контакты </a></li>
</ul>
</nav>

<main>
<center>
<h1>Адреса наших отделений</h1>
</center>
<div>
<table>
        <tr>
            <th>Отделение</th>
            <th>Адрес</th>
            <th>Телефон регистратуры</th>
        </tr>
        <tr>
            <td>Поликлиника №1</td>
            <td>Улица Первая, дом 12</td>
            <td><p><a href="tel:+74567777890">  +7-888-999-11-90 </a><p/></td>
        <tr>
            <td>Поликлиника №2</td>
            <td>Проспект Второй, дом 25</td>
            <td><p><a href="tel:+78887777890">  +7-888-777-78-90 </a><p/></td>
        </tr>
        <tr>
            <td>Поликлиника №3</td>
            <td>Площадь Третья, дом 7</td>
            <td><p><a href="tel:+78885556611">  +7-888-555-66-11 </a><p/></td>
        </tr>
        
        <tr>
            <td>Женская консультация</td>
            <td>Улица Первая, дом 35</td>
            <td><p><a href="tel:+78881112233">  +7-888-111-22-33 </a><p/></td>
        <tr>
            <td>Отделение общей врачебной практики №2</td>
            <td>Улица Восьмая, дом 22</td>
            <td><p><a href="tel:+78887777890">  +7-888-222-44-55 </a><p/></td>
        </tr>
        <tr>
            <td>Стационар</td>
            <td>Площадь Пятая, дом 38</td>
            <td><p><a href="tel:+78885556611">  +7-888-333-66-00 </a><p/></td>
        </tr>
    </table>
</main>

<footer>
<p>© Клиника женской консультации 2024</p>
</footer>

</body>
</html>