
<!DOCTYPE html>
{% load static %}
<html>
<head>
<title>Услуги</title>
<meta charset="utf-8" />
<link rel="stylesheet" href="{% static "css/styles.css" %}" />
</head>
<body>

<header>
<h1>Услуги клиники женской консультации</h1>
<p><a href="tel:+71234567890"> <strong> Наш телефон: </strong> +7-123-456-78-90 </a><p/>
<a href="mailto:info@womensclinic.com"> <strong> Адрес нашей электронной почты: </strong> info@womensclinic.com </a>
<p><strong> Часы работы : </strong> 8:00 - 21:00 </p>
</header>

<nav>
<ul>
<li><a href="index.html" target="_self"> Главная </a></li> |
<li><a href="services.html" target="_self"> Услуги </a></li>|
<li><a href="specialists.html" target="_self"> Специалисты </a></li> |
<li><a href="contacts.html" target="_self"> Контакты </a></li>
</ul>
</nav>

<main>
<center>
<h1>Наши услуги</h1>
</center>

<h3>Гинекологическое обследование</h3>

<img src="{% static "images/услуги1.png" %}" width="99%"  >
<p>Под гинекологическим обследованием подразумевается комплекс медицинских процедур, включающих консультацию, осмотр гинеколога и различные исследования, назначаемые врачом, в зависимости от состояния здоровья пациентки, ее возраста и поставленных задач.</p>
<div>
В нашей клинике применяются следующие методы обследования гинекологических больных:
<section>
<ul>
<li> сбор анамнеза; </li> 
<li> гинекологический осмотр; </li>
<li> ультразвуковая диагностика; </li> 
<li> лабораторные исследования; </li> 
<li> гистероскопия, кольпоскопия и др. </li>
</ul>
</section>
</div>

<h3> УЗИ органов малого таза </h3>

<img src="{% static "images/услуги2.jpg" %}" width="99%">
<p>УЗИ органов малого таза – высокоинформативный диагностический метод, заслуженно пользующийся доверием врачей и пациентов во всем мире.
В ходе УЗИ  малого таза у женщин оценивается состояние мочевого пузыря, матки, шейки и придатков матки.</p>
<div>
Сделать УЗИ малого таза женщине могут рекомендовать в самых разных случаях, например, когда необходимо оценить состояние пациентки, подтвердить поставленный диагноз или отследить динамику лечения.
Сканирование органов малого таза дает возможность:
<section>
<ul>
<li> собрать информацию о расположении матки, ее структуре и толщине стенок, оценить состояние эндометрия; </li> 
<li> определить запас фолликулов в яичниках (при планировании беременности или при диагностике бесплодия); </li>
<li> обнаружить беременность или подтвердить факт беременности; </li> 
<li> обнаружить образования в яичниках и матке. </li>
</ul>
</section>
</div>
<div>
Среди заболеваний, для выявления которых пациентке может быть назначено УЗИ малого таза, можно выделить:
<section>
<ul>
<li> цистит (воспаление мочевого пузыря); </li> 
<li> эндометрит (воспаление в слизистой оболочке шейки матки); </li>
<li> цервицит (воспаление шейки матки); </li> 
<li> аднексит или сальпингоофорит (воспаление маточных труб и яичников); </li> 
</ul>
</section>
</div>

<h3>Консультации по планированию беременности</h3>

<img src="{% static "images/услуги3.jpg" %}" width="99%" >
<p>Планирование беременности позволяет избежать возможных проблем и правильно подготовиться к зачатию, беременности, вынашиванию и рождению нового человека.</p>
<div>
Тщательное обследование здоровья обоих будущих родителей - первый и самый главный шаг на пути к планированию беременности.
Оптимальное время для обращения в выбранный медицинский центр - за пять-шесть месяцев до даты предполагаемого зачатия. У пары будет достаточный запас времени, чтобы посетить необходимых специалистов, сдать анализы и устранить возможные проблемы. Разумеется, в случае обнаружения проблем со здоровьем, требующих медикаментозного или оперативного лечения, срок планируемого зачатия отодвинется.
Начать подготовку следует с посещения гинеколога (женщине) и уролога или андролога (мужчине). Специалист проведет осмотр, возьмет нужные мазки и выпишет направления на все необходимые анализы.
</div>

<h3>Профилактические осмотры</h3>
<img src="{% static "images/услуги4.png" %}" width="99%" >

Ольга Безрукавникова, [28.05.2024 14:37]
<p>Профилактический осмотр Данный осмотр позволяет провести онкологический скрининг женских половых органов, обнаружить миому матки, патологию эндометрия (полипы, гиперплазия эндометрия), кисты яичников, эндометриоз, выявить хронический воспалительные заболевания органов малого таза, что может быть причиной тазовых болей, аномальных маточных кровотечений, невынашивания беременности и бесплодия пары.
Так же во время профилактического осмотра оценивается состояние организма на фоне проводимой ранее назначенной гормональной терапии с целью контрацепции и менопаузальной гормональной терапии.
После проведения осмотра назначаются дополнительные уточняющие обследование по показаниям.</p>
<div>
Профилактический осмотр включает в себя:
<section>
<ul>
<li> осмотр женщины на кресле; </li> 
<li> взятие анализов на онкоцитологию (РАР-тест); </li>
<li> обследование на ИППП </li> 
<li> УЗИ органов малого таза; </li> 
<li> исследование и УЗИ молочных желез </li>
</ul>
</ul>
</section>
</main>
<footer>
<p>© Клиника женской консультации 2024</p>
</footer>

</body>
</html>