<!DOCTYPE html>
{% load static %}
<html>
<head>
<title>Cпециалисты</title>
<link rel="stylesheet" href="{% static "css/styles.css" %}" />
</head>
<body>

<header>
<h1> Специалисты клиники женской консультации</h1>
<p><a href="tel:+71234567890"> <strong> Наш телефон: </strong> +7-123-456-78-90 </a><p/>
<a href="mailto:info@womensclinic.com"> <strong> Адрес нашей электронной почты: </strong> info@womensclinic.com </a>
<p><strong> Часы работы : </strong> 8:00 - 21:00 </p>
</header>

<nav>
<ul>
<li><a href="index.html" target="_self"> Главная </a></li> |
<li><a href="services.html" target="_self"> Услуги </a></li>|
<li><a href="specialists.html" target="_self"> Специалисты </a></li> |
<li><a href="contacts.html" target="_self"> Контакты </a></li>
</ul>
</nav>

<main>
<center>
<h1>Наши специалисты</h1>
</center>
<img src="{% static "images/сотрудники1.jpg" %}" width="99%">
<center>
<h1> Руководство </h1>
</center>
<div>
<aside>
    <img src="{% static "images/doc1.jpg" %}">
    <h2>Энтина Елена Витальевна</h2>
    <p><strong> Должность: </strong>Главный врач, врач-терапевт высшей категории  </p>
    <p>Стаж работы: 11 лет</p>
    <a href="mailto:info@womensclinic.com"> <strong> email: </strong> info@womensclinic.com </a></p>  
    
    <img src="{% static "images/doc2.png" %}" >
    <h2>Алиханова Евгения Сергеевна</h2>
    <p><strong> Должность: </strong>Заместитель главного врача</p>
    <p>Стаж работы: 9 лет</p>
    <a href="mailto:info@womensclinic.com"> <strong> email: </strong> info@womensclinic.com </a></p>
   
    <img src="{% static "images/doc3.png" %}">
    <h2>Каменецкая Екатерина Львовна </h2>
    <p><strong> Должность: </strong>Главная медицинская сестра, акушерка высшей категории</p>
    <p>Стаж работы: 10 лет</p>
    <a href="mailto:info@womensclinic.com"> <strong> email: </strong> info@womensclinic.com </a></p>

    <img src="{% static "images/doc4.jpg" %}">
    <h2>Бостанова Диана Мырзакуловна</h2>
    <p><strong> Должность: </strong>Руководитель хирургического центра, врач-хирург высшей категории</p>
    <p>Стаж работы: 9 лет</p>
    <a href="mailto:info@womensclinic.com"> <strong> email: </strong> info@womensclinic.com </a></p>
</aside>
</div>
<center>
<h1> Врачи клиники </h1>
</center>
<div>
<aside>
    <img src="{% static "images/doc5.jpeg" %}">
    <h2>Урчукова Лариса Олеговна</h2>
    <p><strong> Должность: </strong>Врач-уролог, онколог, доктор медицинских наук </p>
    <p>Стаж работы: 10 лет</p>
    <a href="mailto:info@womensclinic.com"> <strong> email: </strong> info@womensclinic.com </a></p>

    <img src="{% static "images/doc6.jpeg" %}">
    <h2>Попова Кира Владимировна </h2>
    <p><strong> Должность: </strong>Врач – акушер-гинеколог, врач высшей квалификационной категории</p>
    <p>Стаж работы: 7 лет</p>
    <a href="mailto:info@womensclinic.com"> <strong> email: </strong> info@womensclinic.com </a></p>

    <img src="{% static "images/doc7.jpeg" %}">
    <h2>Саад Кристина Владимировна</h2>
    <p><strong> Должность: </strong>Врач – акушер-гинеколог, кандидат медицинских наук</p>
    <p>Стаж работы: 5 лет</p>
    <a href="mailto:info@womensclinic.com"> <strong> email: </strong> info@womensclinic.com </a></p>

    <img src="{% static "images/doc8.jpeg" %}">
    <h2>Родиченко Виктория Викторовна</h2>
    <p><strong> Должность: </strong>Врач ультразвуковой диагностики, кандидат медицинских наук</p>
    <p>Стаж работы: 9 лет</p>
    <a href="mailto:info@womensclinic.com"> <strong> email: </strong> info@womensclinic.com </a></p>
</aside>
</div>


</main>

<footer>
<p>© Клиника женской консультации 2024</p>
</footer>

</body>
</html>